.div1blue {
    background-color: rgb(64, 64, 251);
    height: 80px;
    margin: 0px 0px 0px 0px;
  }
  .under {
    text-decoration: underline;
  }
  .facebookicon {
    position: absolute;
    top: 8px;
    left: 350px;
    cursor: pointer;
  }
  .twittericon {
    position: absolute;
    top: 8px;
    left: 380px;
    cursor: pointer;
  }
  .instaicon {
    position: absolute;
    top: 8px;
    left: 410px;
    cursor: pointer;
  }
  .youtubicon {
    position: absolute;
    top: 8px;
    left: 440px;
    width: 35px;
    height: 30px;
    cursor: pointer;
  }
  .whatsappicon {
    position: absolute;
    top: 8px;
    left: 470px;
    cursor: pointer;
  }
  .b1 {
    position: absolute;
    top: 40px;
    right: 590px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    border-color: lightslategray;
  }
  .b2 {
    position: absolute;
    top: 40px;
    right: 499px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    border-color: lightslategray;
  }
  .b3 {
    position: absolute;
    top: 40px;
    right: 420px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    border-color: lightslategray;
  }
  .saylanilogo {
    margin: 80px 350px;
    height: 120px;
    width: 280px;
  }
  .homeb4 {
    position: absolute;
    top: 130px;
    right: 1100px;
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(64, 64, 251);
    color: white;
    border: none;
    width: 100px;
    cursor: pointer;
  }
  #about1 {
    position: absolute;
    top: 130px;
    right: 1020px;
    border-radius: 10px;
    border: none;
    width: 60px;
    height: 23px;
    cursor: pointer;
  }
  #about2 {
    position: absolute;
    top: 130px;
    right: 875px;
    border-radius: 10px;
    border: none;
    width: 130px;
    height: 23px;
    cursor: pointer;
  }
  #about3 {
    position: absolute;
    top: 130px;
    right: 735px;
    border-radius: 10px;
    border: none;
    width: 130px;
    height: 23px;
    cursor: pointer;
  }
  #about4 {
    position: absolute;
    top: 130px;
    right: 615px;
    border-radius: 10px;
    border: none;
    width: 110px;
    height: 23px;
    cursor: pointer;
  }
  .b5 {
    position: absolute;
    top: 130px;
    right: 490px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    width: 100px;
    cursor: pointer;
  }
  .b6 {
    position: absolute;
    top: 130px;
    right: 380px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    width: 100px;
    cursor: pointer;
  }
  #about5 {
    position: absolute;
    top: 130px;
    right: 280px;
    border-radius: 10px;
    border: none;
    width: 90px;
    height: 23px;
    cursor: pointer;
  }
  .saylanipic {
    width: 100%;
    height: 300px;
  }
  .marque {
    width: 70%;
    margin: 5px 0px 0px 300px;
    background-color: rgb(64, 64, 251);
    color: aliceblue;
  }
  h1 {
    text-align: center;
    color: rgb(64, 64, 251);
  }
  .img1 {
    margin: 1px 0px 0px 920px;
    padding: 10px;
    width: 40px;
  }
  .divp {
    width: 60%;
    margin: 10px 0px 0px 415px;
  }
  .one {
    position: absolute;
    top: 1300px;
    right: 1400px;
    background-color: aqua;
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: rgb(64, 64, 251);
    color: aliceblue;
  }
  .two {
    position: absolute;
    top: 1300px;
    right: 1050px;
    background-color: aqua;
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: rgb(64, 64, 251);
    color: aliceblue;
  }
  .three {
    position: absolute;
    top: 1300px;
    right: 700px;
    background-color: aqua;
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: rgb(64, 64, 251);
    color: aliceblue;
  }
  .four {
    position: absolute;
    top: 1300px;
    right: 350px;
    background-color: aqua;
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: rgb(64, 64, 251);
    color: aliceblue;
  }
  .own {
    background-color: rgb(64, 64, 251);
    height: 450px;
  }
  .photo1 {
    position: relative;
    top: 10px;
    left: 1px;
    width: 50px;
  }
  .photo2 {
    position: relative;
    top: 10px;
    left: 0px;
    width: 50px;
  }
  .photo3 {
    position: relative;
    top: 10px;
    left: 10px;
    width: 50px;
  }
  .photo4 {
    position: relative;
    top: 10px;
    left: 1px;
    width: 50px;
  }
  p > b {
    color: greenyellow;
  }
  .uprbutton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 25px;
  }
  .what1 {
    position: absolute;
    top: 1820px;
    left: 560px;
    background-color: lightskyblue;
    width: 220px;
    height: 110px;
    box-shadow: 1px 5px 5px lightslategray;
  }
  .what2 {
    position: absolute;
    top: 1955px;
    left: 560px;
    background-color: lightskyblue;
    width: 220px;
    height: 110px;
    box-shadow: 1px 5px 5px lightslategray;
  }
  .what3 {
    position: absolute;
    top: 1820px;
    left: 830px;
    background-color: lightskyblue;
    width: 220px;
    height: 110px;
    box-shadow: 1px 5px 5px lightslategray;
  }
  .what4 {
    position: absolute;
    top: 1820px;
    left: 1100px;
    background-color: lightskyblue;
    width: 220px;
    height: 110px;
    box-shadow: 1px 5px 5px lightslategray;
  }
  .what5 {
    position: absolute;
    top: 1955px;
    left: 830px;
    background-color: lightskyblue;
    width: 220px;
    height: 110px;
    box-shadow: 1px 5px 5px lightslategray;
  }
  .what6 {
    position: absolute;
    top: 1955px;
    left: 1100px;
    background-color: lightskyblue;
    width: 220px;
    height: 110px;
    box-shadow: 1px 5px 5px lightslategray;
  }
  .sadqapic {
    position: absolute;
    top: 5px;
    left: 80px;
    width: 50px;
    cursor: pointer;
  }
  .dastarkhwan {
    position: absolute;
    top: 5px;
    left: 80px;
    width: 50px;
    cursor: pointer;
  }
  .welfare {
    position: absolute;
    top: 5px;
    left: 80px;
    width: 50px;
    cursor: pointer;
  }
  .ro {
    position: absolute;
    top: 5px;
    left: 80px;
    width: 50px;
    cursor: pointer;
  }
  .medical {
    position: absolute;
    top: 5px;
    left: 80px;
    width: 50px;
    cursor: pointer;
  }
  .edu {
    position: absolute;
    top: 5px;
    left: 80px;
    width: 50px;
    cursor: pointer;
  }
  .cent {
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 40px;
  }
  .centerp {
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 65px;
  }
  .cent1 {
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 58px;
  }
  .nechy {
    position: absolute;
    top: 2100px;
    left: 0px;
    width: 1900px;
    height: 500px;
  }
  .gamediv1 {
    background-color: whitesmoke;
    width: 250px;
    height: 60px;
    position: absolute;
    top: 100px;
    left: 560px;
    box-shadow: 1px 5px 5px lightslategray;
  }
  .gamediv2 {
    background-color: whitesmoke;
    width: 250px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 560px;
    box-shadow: 1px 5px 5px lightslategray;
  }
  .gamediv3 {
    background-color: whitesmoke;
    width: 250px;
    height: 60px;
    position: absolute;
    top: 100px;
    left: 870px;
    box-shadow: 1px 5px 5px lightslategray;
  }
  .gamediv4 {
    background-color: whitesmoke;
    width: 250px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 870px;
    box-shadow: 1px 5px 5px lightslategray;
  }
  .wait {
    border: 1px solid red;
    margin: 10px 5px 10px 1150px;
    width: 400px;
    height: 250px;
  }
  .end {
    text-align: center;
    font-weight: bold;
  }
  .g1 {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  .g2 {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .g3 {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .g4 {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .wait {
    height: 300px;
    border: 1px solid black;
    border-radius: 2px;
    min-height: 40px;
    max-width: 300px;
    overflow: scroll;
  }
  .event {
    text-align: center;
    color: rgb(64, 64, 251);
    text-decoration: underline;
  }
  .gallery {
    width: 1895px;
    height: 40px;
    position: relative;
    top: 1050px;
    left: 0px;
  }
  .color1 {
    width: 275px;
    height: 20;
    max-height: 300;
    position: absolute;
    top: 1500;
    left: 220px;
  }
  .color2 {
    width: 275px;
    height: 20;
    max-height: 300;
    position: absolute;
    top: 1500;
    left: 500px;
  }
  .color3 {
    width: 275px;
    height: 20;
    max-height: 300;
    position: absolute;
    top: 1500;
    left: 780px;
  }
  .color4 {
    width: 275px;
    height: 20;
    max-height: 300;
    position: absolute;
    top: 1500;
    left: 1058px;
  }
  .color5 {
    width: 275px;
    height: 20;
    max-height: 300;
    position: absolute;
    top: 1500;
    left: 1338px;
  }
  .last {
    position: absolute;
    top: 3200px;
    width: 1895px;
    background-color: rgb(1, 15, 39);
    color: beige;
    height: 370px;
  }
  .ali {
    margin: 1px 2px 100px 500px;
    padding: 0px;
  }
  .h3c {
    font-weight: bold;
    color: white;
    margin-top: 10px;
    margin-left: 400px;
    text-decoration: underline;
    width: 300px;
  }
  .p1 {
    color: blanchedalmond;
    margin-top: 0px;
    margin-left: 0px;
    width: 380px;
  }
  .facebookicon1 {
    position: relative;
    bottom: 255px;
    left: 680px;
    cursor: pointer;
  }
  .twittericon1 {
    position: relative;
    bottom: 255px;
    left: 680px;
    cursor: pointer;
  }
  .instaicon1 {
    position: relative;
    bottom: 255px;
    left: 680px;
    cursor: pointer;
  }
  .youtubicon1 {
    position: relative;
    bottom: 255px;
    left: 680px;
    height: 30px;
    cursor: pointer;
  }
  .whatsappicon1 {
    position: relative;
    bottom: 255px;
    left: 680px;
    cursor: pointer;
  }
  .contact {
    color: white;
    margin-left: 680px;
    margin-top: 1px;
    font-weight: bold;
  }
  